<h1 >This is our products:</h1>
<div class="container mt-4">
    <div class="mt-2">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio </th>
                <th scope="col">Descripcion </th>
                <th scope="col">Details</th>              
              </tr>
            </thead>
            <tbody>
              @for (item of listProducts; track $index) {
                <tr>
                  <th scope="row">{{item.id}}</th>
                  <td>{{item.title}}</td>
                  <td>{{item.price | currency }}</td>
                  <td>{{item.description}}</td> 
                  <td ><button class="btn btn-primary" [routerLink]="['/products', item.id]">Detalle {{item.name}}</button></td>              
                </tr>   
              }
                
            </tbody>
          </table>
    </div>
</div>

